* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poiret One', cursive;
    text-decoration: none;

}
$colores: (
    principal:linear-gradient(90deg, black, rgb(0, 44, 138)),
    secundario:linear-gradient(90deg,  rgb(155, 23, 155),black)
    );
/* $colorPrincipal:linear-gradient(90deg, black, rgb(0, 44, 138));
$colorSecundario:linear-gradient(90deg,  rgb(155, 23, 155),black); */
h1 {
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    vertical-align: auto;
    text-align: center;
}
.textito {
    display: flex;
    justify-content: center;
    align-items: center;
}
section img {width:99.99%}
.header {
    display: flex;
    position: sticky;
    top: 0.1px;
    background: map-get($colores, principal ); 
    z-index: 2;
    left:33%;
    opacity: 85%;
    justify-content: space-between;
    
    
    
    .logo {
        left:0;
    }
    .navbar-nav {
        gap:10px;
        .navbarra {
            color: white;
            list-style: none;
            text-decoration: none;
            font-size: 1.2em;
            &:hover {
                color:black;
            }
        }
    }
}
    .textosFotos {
        height: auto;
        font-family: 'Poiret One', cursive; 
        display: flex;
        padding: 10px;
        gap: 10px;
        text-decoration: none;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: black;
        .Personas {
            display: grid;
            grid-template-columns: repeat(5,auto);
            & img:hover {
                border:none;
            }
        }
        & img {
            width: 40vh;
            &:hover {
                border: 2px solid rgb(2, 248, 248);
            
            }
        }
        & a {
            text-decoration: none;
            font-size: 1em;
            &:hover {
                color:red;
                
            }
        }
        .FotoYo {
            width: 45vh;
            &:hover {border: 0;}
        }
        .yo {
            color: black;
            font-weight: bold;
            width: 80%;
        }
        .titulos {
            color: black;
            font-weight: bold;
        }
        
    }
    .Inicio {
        height: 95%;
        
    }
.fotos {
    height: auto;
    filter: grayscale(1);
    border: 2px solid rgb(81, 206, 255); 
    transition: all .5s;  
    &:hover {
        filter: none;
    
    }
}

.fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.GrillaFotos {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.1vh;
    grid-template-columns: repeat(4, 1fr);
}



.form {
    height: 100vh;
    .Contacto {
        height: 100vh;
        background-image: url(../img/FotoFin.jpg);
        font-family: 'Poiret One', cursive;  
        text-align: center;
        align-items: center;
        justify-content: center;
        display: block;
        background-size:cover;
        color: white;
    }
}
.carrusela {
    width: 90%;
    margin: 0 auto;
}
.grillaResumen {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .fotito {
        
        & img {
            margin-top: 1rem;
            width:100%;
        }
    }
    & p {
        color: white;
        display: flex;
        position: absolute;
        margin-top: 1rem;
        justify-content: center;
        font-size: 5vw;
        
    }
    .textofoto {
        text-decoration: none;
    }
}

@mixin prueba ($just, $lista, $texto) {
    justify-content: $just;
    list-style: $lista;
    text-align: $texto;
}
.variaciones {
background: map-get($colores , principal );
@include prueba(space-evenly,none ,center );
text-decoration: none;
background-color: transparent;
color: white;
}
.Footer {
    
    @extend .variaciones;
    
    & a{
        @extend .variaciones;
        background: transparent;
    }
    &Link {
        display: flex;
        @include prueba(space-around,null,center );

        .Links {
            color: white;
            &:hover {
                box-shadow: 0 0 20px 0px rgb(0 0 0 / 39%);
                outline: 0;
            }
        }
        
    }
    .fotosLinks {
        filter: grayscale(1);
    }
    &Texto {
        margin-bottom: 0;
    }
    
    
}
@mixin cambios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media  (min-width: 768px) and (max-width: 1023px) {
    .header {
        display: flex;
        @include cambios;
        
        background: map-get($colores, secundario );
    }
    
    .fotos {
        display: grid;
    }
    .GrillaFotos {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0.1vh;
        grid-template-columns: repeat(2, auto); 
      
    }
    .Personas {
        display: grid;
        grid-template-columns: repeat(2,auto); 

    }
    .grillaResumen {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .fotito {
            
            & img {
                margin-top: 1rem;
                width:100%;
            }
        }
        & p {
            color: white;
            display: flex;
            position: absolute;
            margin-top: 1rem;
            justify-content: center;
            font-size: 5vw;
            
        }
        .textofoto {
            text-decoration: none;
        }
    }

}
@media (max-width: 767px) {
    .header {
        display: flex;
        @include cambios;
    }
    
    
    a:hover {
        color: black;
    }
    
    .GrillaFotos {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0.1vh;
        grid-template-columns: repeat(2, auto);
    
      }
      .textosFotos {
        .Personas {
            display: grid;
            grid-template-columns: repeat(2,auto);
            
        }
      }
        .grillaResumen {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            .fotito {
                
                & img {
                    margin-top: 1rem;
                    width:100%;
                }
            }
            & p {
                color: white;
                display: flex;
                position: absolute;
                margin-top: 1rem;
                justify-content: center;
                font-size: 5vw;
                
            }
            .textofoto {
                text-decoration: none;
            }
        }

   
} 